[Desktop Entry]
Name=Kanji dojo CC
Exec=kanji-dojo
Icon=Kanji dojo CC
Type=Application
Categories=Education;
Terminal=false
StartupNotify=true
NoDisplay=false
